@model List<SERVER_store.Models.Product_in_cart>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SERVER_store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/favicon.ico" rel="shortcut icon" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link href="~/css/flaticon.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/sass/style.scss" />
</head>
<header>
    <nav class="main-navbar">
        <div class="container">
            <!-- menu -->
            <ul class="main-menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">SERVER</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Product">Товары</a></li>
                <li>
                    <a href="#">Аккаунт</a>
                    <ul class="sub-menu">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a asp-route-id="@User.Claims.ElementAt(0).Value">@User.Claims.ElementAt(1).Value</a>
                                @if (User.IsInRole("admin"))
                                {
                                    <a asp-area="" asp-controller="Admin" asp-action="AdminPanel" asp-route-id="@User.Claims.ElementAt(0).Value">Админ панель</a>

                                }
                                <a asp-controller="Home" asp-action="ShowCart"> Корзина </a>
                                <a asp-area="" asp-controller="Home" asp-action="ShowOrders" asp-route-id="@User.Claims.ElementAt(0).Value">Заказы</a>
                                <a asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller="Account" asp-action="Login">Войти</a>
                            </li>
                            <li>
                                <a asp-controller="Account" asp-action="Register">Зарегистрироваться</a>
                            </li>
                        }
                    </ul>
                </li>
                <li>
                    <form asp-controller="Home" asp-action="Search">
                        <p>
                            Поиск: <input style="width: 50%" type="text" required minlength="1" name="searchString" />
                            <input style="width: 20%" type="submit" value="Найти" />
                        </p>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section class="cart-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-table">
                    <h3>Ваша корзина</h3>
                    <div class="cart-table-warp">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-th">Продукт</th>
                                    <th class="quy-th">Количество</th>
                                    <th class="total-th">Стоимость</th>
                                    <th>Удаление</th>
                                </tr>
                            </thead>
                            @{ double totalAmount = 0; }
                            @foreach (var item in @Model)
                            {
                                {
                                    totalAmount += item.Quantity * item.Product.price;
                                }
                                <tbody>
                                    <tr>
                                        <td class="product-col">
                                            <img src="@item.Product.img" />
                                            <div class="pc-title">
                                                <h4> <a asp-action="ShowProduct" asp-controller="Home" asp-route-id="@item.Product.id">@item.Product.name</a></h4>
                                                <p> @item.Product.price BYN</p>
                                            </div>
                                        </td>
                                        <td class="quy-col">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="@item.Quantity" style="width: 50px;">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="total-col"><h4> @item.Product.price BYN</h4></td>
                                        <td>
                                            <div class="col-lg-5 d-flex justify-content-end align-items-start" style="flex-direction: column;">
                                                <a class="btn btn-danger" asp-action="RemoveFromCart" asp-controller="Home" asp-route-id="@item.Product.id">Удалить</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>

                    </div>
                    <div class="total-cost">
                        <h6>Итоговая стоимость<span>@totalAmount</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 card-right">

                <form method="post" id="create_order" asp-controller="Home" asp-action="AddOrder">


                    @if (Model.Count > 0)
                    {
                        <input type="hidden" value=" @Model[0].CartId" />
                        <input type="hidden" name="totalAmount" value="@totalAmount" />
                        <table class="table bg-secondary shadow p-3 mb-5 bg-white rounded m-2" id="myTable">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Укажите адрес и способ оплаты</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input class="form-control form-control shadow-sm bg-white rounded-pill" type="text" required minlength="5" maxlength="50" name="adres" />
                                    </td>
                                    <td>Область</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-control form-control shadow-sm bg-white rounded-pill" type="text" required minlength="5" maxlength="50" name="adres" />
                                    </td>
                                    <td>Город</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-control form-control shadow-sm bg-white rounded-pill" type="text" required minlength="5" maxlength="50" name="adres" />
                                    </td>
                                    <td>Улица</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-control form-control shadow-sm bg-white rounded-pill" type="text" required minlength="5" maxlength="50" name="adres" />
                                    </td>
                                    <td>Дом и квартира</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Наличные</p>
                                        <input type="radio" name="oplata" value="Наличные" />
                                    </td>
                                    <td>
                                        <p>Банковской картой</p>
                                        <input type="radio" name="oplata" value="Банковская карта" />
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <h4 id="error" style="color:red"> </h4>
                        <button type="submit" class="btn btn-primary" style="background-color: #f51167; border-color: #f51167; ">Оформить заказ</button>
                    }
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <section class="footer-section">
        <div class="container">
            <div class="footer-logo text-center">
                <h1 style="color: aliceblue"> SERVER </h1>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>О магазине</h2>
                        <p>
                            Сервер предоставляет вам возможность онлайн покупки компьютерной техники и запчастей, так же вы можете создать свой собственный товар на вкладке "Сборка компьютера".
                            После оформления заказа, товар доставят на ваш адрес, вы можете расплатится как наличными средствами, так и банковской картой
                        </p>
                        <img src="img/cards.png" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>Категории товаров</h2>
                        <ul>
                            @foreach (var item in ViewBag.SubCategoryStruct)
                            {
                                <li><a asp-controller="Home" asp-action="ProducthasCategory" asp-route-id="@item.Categoryid">@item.name</a></li>

                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <h2>Лидеры продаж</h2>
                        <div class="fw-latest-post-widget">
                            @foreach (var pro in ViewBag.prod)
                            {
                                <div class="lp-item">
                                    <div class="lp-thumb set-bg" data-setbg="@pro.img"></div>
                                    <div class="lp-content">
                                        <h6>@pro.name</h6>
                                        <span>@pro.price BYN</span>
                                        <a asp-controller="Home" asp-action="ProductShow" asp-route-id="@pro.id" class="readmore">Подробнее</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget contact-widget">
                        <h2>Техподдержка</h2>
                        <div class="con-info">
                            <span>S.</span>
                            <p>Контактная информация</p>
                        </div>
                        <div class="con-info">
                            <span>E.</span>
                            <p> улица Колесникова 3, Минск 220017 КБиП </p>
                        </div>
                        <div class="con-info">
                            <span>R.</span>
                            <p>+375 29 769-25-60</p>
                        </div>
                        <div class="con-info">
                            <span>V.</span>
                            <p>petrashkevich2222@gmail.com</p>
                        </div>
                        <div class="con-info">
                            <span>E.</span>
                            <p>Все права защищены!</p>
                        </div>
                        <div class="con-info">
                            <span>R.</span>
                            <p>Приятных покупок в Сервер</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links-warp">
            <div class="container">
                <div class="social-links" style="text-align: center;">
                    <a href="https://www.instagram.com/petrashkevich2222/" class="instagram">@*<img class="fa fa-instagram" src="https://cdn-icons-png.flaticon.com/512/1384/1384015.png" style=" width: 5%;">*@<span>Instagram</span></a>
                    <a href="https://vk.com/antony6696662" class="google-plus">@*<img class="fa fa-google-plus" src="https://w7.pngwing.com/pngs/863/431/png-transparent-computer-icons-vk-css-sprites-loghi-text-desktop-wallpaper-computer-icons.png" style=" width: 5%;">*@<span>VK</span></a>
                    <a href="https://www.artstation.com/anton_petrashkevich" class="pinterest">@*<img class="fa fa-pinterest" src="https://cdn-icons-png.flaticon.com/512/5968/5968655.png" style=" width: 5%;">*@<span>ARTstation</span></a>
                    <a href="https://www.facebook.com/profile.php?id=100006848527643" class="facebook">@*<img class="fa fa-facebook" src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png" style=" width: 5%;">*@<span>facebook</span></a>
                </div>

                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <p class="text-white text-center mt-5">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> - SERVER - Petrashkevich A
                </p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </div>
        </div>
    </section>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.slicknav.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.nicescroll.min.js"></script>
<script src="~/js/jquery.zoom.min.js"></script>
<script src="~/js/jquery-ui.min.js"></script>
<script src="~/js/main.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {

        $("#create_order").submit(function (e)
        {  
            if (!$('input[name="oplata"]').is(':checked'))
            {
                e.preventDefault();
               $("#error").html("Выбреите способ оплаты")
             }
         })
       
    })
    
</script>   